.notifications-container {
    position: absolute;
    width: calc(100% - 20px);
    max-height: 70%;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notifications-container .notification {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--containers-color);
    border-radius: 10px;
}
.notifications-container .notification .content {
    width: calc(100% - 20px);
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}
.notifications-container .notification .icon-container {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 185, 129, 0.2);
    color: var(--income-color);
    border-radius: 50%;

    & .icon {
        width: 20px;
        height: 20px;
    }
}
.notifications-container .notification .to-end-progress-bar {
    width: 100%;
    height: 5px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;

    & .progress {
        width: 100%;
        height: 100%;
        background-color: var(--income-color);
        animation: anim-notification-ending 5s ease-out forwards;
    }
}

@keyframes anim-notification-ending {
    to {
        width: 0;
    }
}