.screen.family {
    width: calc(100% - 40px);
    padding: 50px 20px 120px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.family-title {
    background-color: var(--containers-color);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.family-title .graphic {
    width: 100%;
    height: 250px;
    background-color: #000;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.family-title .line {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--containers-content-color);
}
.family-title .control-buttons {
    display: flex;
    gap: 10px;
}
.family-title .control-buttons .family-button {
    background-color: #141414;
    height: 100px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    color: var(--text-additional-color);
    font-weight: var(--font-bold);
    font-size: 18px;
    transition: background-color ease .3s, transform ease .3s;
    user-select: none;

    &:active {
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(0.95);

    }
}
.family-title .control-buttons .family-button .icon {
    width: 40px;
    height: 40px;
}
.family-title .control-buttons .family-button.leave {
    color: var(--expenses-color);
}

.family-parents {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    color: var(--text-additional-color);
    background-color: var(--containers-color);
}
.family-parents .title {
    display: flex;
    font-size: 22px;
    gap: 10px;
    align-items: center;
    color: var(--text-light-color);
    font-weight: var(--font-semi-bold);


    & .icon {
        width: 36px;
        height: 36px;
        color: var(--main-light-color);
    }
}





.screen.family .user-container {
    background-color: #141414;
    padding: 10px;
    border-radius: 10px;
}
.screen.family .user-container .user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-color);
}
.screen.family .user-container .avatar {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    font-size: 22px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #6C63FF;
}
.screen.family .user-container .user-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--text-additional-color);
    font-size: 14px;
    font-weight: var(--font-light);
}
.screen.family .user-container .user-text .name {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    font-size: 16px;
}
.screen.family .user-container .owner-icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(108, 99, 255, 0.2);
    color: var(--main-color);

    & .icon {
        width: 20px;
        height: 20px;
    }
}

.screen.family .user-container .finance-statistic {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.screen.family .user-container .finance-statistic .user-stat {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    font-size: 14px;
    font-weight: var(--font-regular);
    gap: 5px;

    & .icon {
        width: 20px;
        height: 20px;
    }
    &.income {
        color: var(--income-color);
    }
    &.expenses {
        color: var(--expenses-color);
    }
}