.screen.family {
    width: calc(100% - 40px);
    padding: 50px 20px 120px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@keyframes anim-family-container {
    from {
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
    }
}
.family-title {
    background-color: var(--containers-color);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    gap: 7px;
    animation: anim-family-container .4s ease-in forwards;
}
.family-title .graphic {
    width: 100%;
    height: 220px;
    background-color: #000;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.family-title .line {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: var(--containers-content-color);
}
.family-title .control-buttons {
    display: flex;
    gap: 10px;
}
.family-title .control-buttons .family-button {
    background-color: rgba(0, 0, 0, 0.3);
    height: 91px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    color: var(--text-additional-color);
    font-weight: var(--font-semi-bold);
    font-size: 14px;
    transition: background-color ease .2s, transform ease .2s;
    cursor: pointer;
    user-select: none;

    &:active {
        background-color: rgba(0, 0, 0, 0.7);
        transform: scale(0.98);

    }
}
.family-title .control-buttons .family-button .icon {
    width: 40px;
    height: 40px;
}
.family-title .control-buttons .family-button.leave {
    color: var(--expenses-color);
}

.family-parents {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 7px;
    color: var(--text-additional-color);
    background-color: var(--containers-color);
    opacity: 0;

    animation: anim-family-container .5s ease-in forwards;
    animation-delay: .2s;
}
.family-parents .title {
    display: flex;
    font-size: 20px;
    gap: 10px;
    margin-left: 5px;
    align-items: center;
    color: var(--text-light-color);
    font-weight: var(--font-semi-bold);


    & .icon {
        width: 30px;
        height: 30px;
        color: var(--main-light-color);
    }
}
.family-parents .line {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: var(--containers-content-color);
}

.screen.family .user-container {
    background-color: #141414;
    padding: 10px;
    border-radius: 10px;
    transition: background-color ease .2s, transform ease .2s;
    cursor: pointer;
    user-select: none;

    &:active {
        transform: scale(0.98);
        background-color: rgba(0, 0, 0, 0.7);
    }
}
.screen.family .user-container .user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-color);
}
.screen.family .user-container .avatar {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    font-size: 22px;
    width: 48px;
    height: 48px;
    border: 2px solid var(--containers-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #6C63FF;
}
.screen.family .user-container .user-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--text-additional-color);
    font-size: 14px;
    font-weight: var(--font-light);
}
.screen.family .user-container .user-text .name {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    font-size: 16px;
}
.screen.family .user-container .owner-icon-container {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(108, 99, 255, 0.2);
    color: var(--main-color);

    & .icon {
        width: 18px;
        height: 18px;
    }
}
.screen.family .user-container .finance-statistic {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.screen.family .user-container .finance-statistic .user-stat {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    font-size: 14px;
    font-weight: var(--font-regular);
    gap: 5px;

    & .icon {
        opacity: 0.3;
        width: 16px;
        height: 16px;
    }
    &.income {
        color: var(--income-color);
    }
    &.expenses {
        color: var(--expenses-color);
    }
}