.container {
    position: relative;
    width: 100vw;
    max-width: var(--app-max-width);
    height: 100vh;
    overflow: hidden;

    display: flex;
}

.app-container {
    position: absolute;
    min-width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.main-container {
    position: relative;
    width: 100%;
    height: 100%;
}