
.nrc-container .sum-type {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 0;

    animation: anim-nrc-box ease-out .5s forwards;
    animation-delay: .7s;
}
.nrc-container .sum-container {
    width: calc(100% - 20px);
    background-color: var(--containers-color);
    padding: 10px;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nrc-container .sum-container .title {
    font-weight: var(--font-bold);
    font-size: 16px;
    color: var(--text-color);
}
.nrc-container .sum-container .error-text {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .3s ease;
}
.nrc-container .sum-container .error-text.show {
    height: 1.2rem;
    color: var(--expenses-color);
    font-size: 16px;
    font-weight: var(--font-regular);
}

.nrc-container .input-sum-container {
    width: calc(100% - 22px);
    height: 15px;
    display: flex;
    padding: 10px;
    border: 2px solid var(--containers-content-color);
    border-radius: 10px;
    gap: 10px;
    transition: border-color ease-in .2s;

    &:focus-within {
        border-color: #555;
    }
}
.nrc-container .input-sum-container .input-sum-field {
    flex: 1;
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: var(--font-bold);
    color: var(--text-light-color);
}
.nrc-container .input-sum-container .val-symbol {
    font-weight: var(--font-regular);
    font-size: 16px;
    color: var(--text-additional-color);
}

.nrc-container .type-container {
    display: flex;
    gap: 6px;
    width: 100%;
}
.nrc-container .type-container .type-button {
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--containers-color);
    color: var(--text-additional-color);
    cursor: pointer;
    transition: opacity ease .5s,
                color ease .5s;

    &:first-child {
        border-radius: 10px 10px 10px 20px;
    }
    &:last-child {
        border-radius: 10px 10px 20px 10px;
    }
    &:active {
        transform: scale(0.99);
    }
}
.nrc-container .type-container.selected .type-button { opacity: 0.4 }
.nrc-container .type-container .type-button.active { opacity: 1 }
.nrc-container .type-container.selected .type-button.active.income { color: var(--income-color); }
.nrc-container .type-container.selected .type-button.active.expenses { color: var(--expenses-color); }