.screen.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 120px 20px;
    animation: anim-categories ease .3s forwards;
}
@keyframes anim-categories {
    from {
        opacity: 0;
    }
}
.categories-title {
    width: calc(100% - 40px);
    height: 157px;
    display: flex;
    align-items: end;
    gap: 10px;
}
.cost-leader {
    flex: 1;
    height: calc(130px - 10px);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    animation: anim-leader ease-out .5s forwards;
}
@keyframes anim-leader {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
}
.cost-leader .title {
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: 16px;
}
.cost-leader .leader-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cost-leader .category-container {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--text-color);
    font-weight: var(--font-light);
    font-size: 12px;
}
.cost-leader .leader-stat {
    margin-top: 10px;
    font-size: 12px;
    color: var(--text-light-color);
    font-weight: var(--font-light);
}
.cost-leader .leader-stat .value {
    color: var(--expenses-color);
    font-size: 15px;
    font-weight: var(--font-medium);
}
.cost-leader .category-container .icon {
    width: 18px;
    height: 18px;
    padding: 9px;
    background-color: rgba(156, 39, 176, 0.2);
    color: #9C27B0;
    border-radius: 50%;
}
.create-category-button {
    width: 130px;
    height: 130px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: 16px;
    text-align: center;
    animation: anim-new-category-button ease-out .5s forwards;

    & .icon {
        width: 40px;
        height: 40px;
    }
}
@keyframes anim-new-category-button {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
}

.categories-list {
    width: calc(100% - 40px);
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.categories-list .category-container {
    height: 67px;
    padding: 10px;
    background-color: var(--containers-color);
    border-radius: 20px;
    opacity: 0;
    cursor: pointer;
    transition: background-color ease-out .1s;
    animation: anim-category ease-out .5s forwards;

    &:active {
        background-color: var(--containers-content-color);
    }
}
@keyframes anim-category {
    from {
        transform: translateY(10px);
    }
    to {
        opacity: 1;
    }
}
.category-container .title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.category-container .title .icon {
    width: 24px;
    height: 24px;
    padding: 8px;
    border-radius: 10px;
}
.category-container .title .text {
    display: flex;
    flex-direction: column;
    color: var(--text-additional-color);
    font-weight: var(--font-light);
    font-size: 14px;
}
.category-container .title .name {
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: 16px;
}

.category-container .monthly-result {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    gap: 3px;
}
.category-container .monthly-result .icon {
    width: 16px;
    height: 16px;
    opacity: 0.3;
}