.monthly-results-container {
    width: calc(100% - 40px);
    margin-top: 15px;
    animation: anim-container ease-out .5s forwards;
}
@keyframes anim-container {
    from {
        transform: translateY(20px);
    }

}
.monthly-results-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light-color);
    font-weight: var(--font-bold);
    font-size: 18px;
}
.monthly-results-container .header .nav-link {
    color: var(--main-color);
    font-weight: var(--font-light);
    font-size: 14px;
    cursor: pointer;
    transition: color ease .3s;
    user-select: none;

    &:hover {
        color: var(--main-light-color);
    }
}

.container-content {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
}
.container-content .result-container {
    width: 100%;
    padding: 14px;
    background: linear-gradient(146deg, rgba(239, 68, 68, 0.1), rgba(18, 18, 18, 0.03));
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-left: 2px solid var(--expenses-color);

    &.income {
        background: linear-gradient(146deg, rgba(16, 185, 129, 0.1), rgba(18, 18, 18, 0.03));
        border-left: 2px solid var(--income-color);
    }
}

.result-container .title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-additional-color);
    font-weight: var(--font-regular);
    font-size: 14px;
}
.result-container .title .icon {
    color: var(--text-light-color);
    padding: 7px;
    width: 15px;
    height: 15px;
    background-color: var(--expenses-color);
    border-radius: 5px;
}
.result-container.income .title .icon { background-color: var(--income-color); }
.result-container .value {
    margin-top: 7px;
    color: var(--text-light-color);
    font-weight: var(--font-bold);
    font-size: 18px;
    animation: anim-value ease-out .5s forwards;
}
@keyframes anim-value {
    from {
        color: #000;
        opacity: 0;
    }
}
.result-container .percent {
    margin-top: 7px;
    padding: 3px 5px;
    color: var(--expenses-color);
    font-weight: var(--font-bold);
    font-size: 12px;
    width: min-content;
    background-color: rgba(239, 68, 68, 0.2);
    border-radius: 4px;
    border: 1px solid var(--expenses-color);
}
.result-container.income .percent {
    color: var(--income-color);
    background-color: rgba(16, 185, 129, 0.2);
    border-color: var(--income-color);
}