.screen.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 120px 20px;
    animation: anim-home ease .3s forwards;
}
@keyframes anim-home {
    from {
        opacity: 0;
    }
}
.home-title {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    height: 132px;
}

.family-financial-situation {
    flex: 1;
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    flex-direction: column;
    justify-content: end;
    color: var(--text-light-color);
    animation: anim-financial-situation ease-out .7s forwards;
}
@keyframes anim-financial-situation {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
}
.family-financial-situation .title {
    font-size: 14px;
    font-weight: var(--font-light);
}
.family-financial-situation .value {
    font-size: 32px;
    font-weight: var(--font-bold);
}