.auth-container {
    width: 100vw;
    max-width: 600px;
    height: 100vh;
}
.auth-container .auth-title {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #131222;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;

    & img { position: absolute; z-index: 2 }
    & img:first-child {
        left: -10%;
        bottom: 10px;
        filter: drop-shadow(0 0 100px rgba(108, 99, 255, 0.7));
        animation:
                anim-background-obj-first-spawn 1s ease-out forwards,
                anim-background-obj 10s ease-in-out infinite;
    }
    & img:nth-child(2) {
        right: -30px;
        filter: drop-shadow(0 0 90px var(--main-light-color));
        animation:
                anim-background-obj-last-spawn 1.2s ease-out forwards,
                anim-background-obj 10s ease-in-out infinite 4s;
    }
}
.auth-container .auth-title .transition {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100px;
    background: linear-gradient(
            to top,
            rgb(18, 18, 18) 25%,
            rgba(18, 18, 18, 0.996) 30%,
            rgba(18, 18, 18, 0.6) 75%,
            transparent
    );
    backdrop-filter: blur(50px);
    mask: linear-gradient(
        to top,
        rgba(12, 12, 12, 1) 30%,
        rgba(12, 12, 12, 0.8) 60%,
        transparent 100%
    );
}
@keyframes anim-background-obj {
    50% {
        transform: translateY(-5%) translateX(10%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes anim-background-obj-first-spawn {
    from {
        transform: translateY(-60%) translateX(-50%);
    }
}
@keyframes anim-background-obj-last-spawn {
    from {
        transform: translateY(30%) translateX(150%);
    }
}

.auth-container .content {
    width: 100%;
    overflow: hidden;
}
.auth-container .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 50%;
    transition: transform .7s cubic-bezier(0.25, 0.4, 0.5, 1);

    &.register {
        transform: translateX(calc(-150% - 20px));
    }
}
.auth-slide {
    min-width: 100%;
    height: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &.register {
        padding: 0 20px;
    }
}
.register-container {
    min-width: 100%;
}

.front-info-window {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}
.front-info-window .info-container {
    padding: 20px 15px;
    max-width: 450px;
    margin: 0 20px;
    background-color: #1e1e1e;
    border-radius: 20px;
    border: 2px solid #333;
    display: grid;
    gap: 10px;
    cursor: auto;
    grid-template-areas:
            "icon text"
            "button button";
}
.front-info-window .info-container .icon-container {
    grid-area: icon;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(239, 68, 68, 0.2);
    color: #EF4444;

    & .icon {
        width: 32px;
        height: 32px;
    }
}
.front-info-window .info-container .text-container {
    grid-area: text;
    align-self: center;
    color: var(--text-additional-color);
    font-weight: var(--font-regular);
    font-size: 18px;

    & .title {
        color: var(--text-color);
        font-weight: var(--font-semi-bold);
        margin-bottom: 4px;
    }
}
.front-info-window .info-container .ok-button {
    width: 100%;
    height: 46px;
    display: flex;
    background-color: #333;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    grid-area: button;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    color: var(--text-color);
    transition: transform .1s ease-out;

    &:active {
        transform: scale(0.96);
    }
}