.background-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.background-panel {
    width: 100%;
    height: 187px;

    border-radius: 0 0 20px 20px;
    background: linear-gradient(315deg, var(--main-color), var(--main-light-color));
    transition: height ease .3s;
}