.fw-header {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.fw-header .title-date {
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    pointer-events: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: var(--font-medium);
}
.fw-header .delete-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .2s ease,
                color .2s ease;
    color: var(--containers-content-color);
    cursor: pointer;

    &:active {
        background-color: var(--containers-color);
        color: var(--expenses-color);
    }
}
.fw-header .delete-button .icon {
    width: 30px;
    height: 30px;
}

.fw-value-title {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fw-value-title .record-value {
    font-size: 32px;
    font-weight: var(--font-bold);
    color: var(--income-color);

    &.expenses {
        color: var(--expenses-color);
    }
}
.fw-value-title .category-container {
    display: flex;
    padding: 8px 15px;
    border-radius: 30px;
    margin-top: 10px;
    color: var(--text-color);
    font-weight: var(--font-regular);
    font-size: 16px;
}
.fw-value-title .category-container .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.fw-record-info {
    background-color: var(--containers-color);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.fw-record-info .description,
.fw-record-info .creator {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: var(--text-additional-color);
    font-weight: var(--font-regular);
    font-size: 14px;

    & .title {
        color: var(--text-light-color);
        font-size: 16px;
        font-weight: var(--font-medium);
    }
}
.fw-record-info .creator .user-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-color);
}
.fw-record-info .creator .user-container .avatar {
    color: var(--text-light-color);
    font-weight: var(--font-semi-bold);
    font-size: 22px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #6C63FF;
}
.fw-record-info .creator .user-container .user-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--text-additional-color);
    font-size: 14px;
    font-weight: var(--font-light);
}
.fw-record-info .creator .user-container .user-info .name {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    font-size: 16px;
}