.nrc-container .description {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    background-color: var(--containers-color);
    padding: 10px;
    border-radius: 20px;

    animation: anim-nrc-box ease-out .5s forwards;
    animation-delay: .9s;
}

.nrc-container .description .text-field {
    width: calc(100% - 20px);
    height: 70px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--containers-content-color);
    transition: border-color ease-in .2s;

    &:focus-within {
        border-color: #555;
    }
}
.nrc-container .description-title {
    font-weight: var(--font-bold);
    font-size: 16px;
    color: var(--text-color);
}

.nrc-text-area {
    font-family: var(--font-main);
    resize: none;
    width: 100%;
    height: 100%;
    color: var(--text-additional-color);
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
}