.daily-container {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    animation: anim-daily-container ease-out .5s forwards;
}
@keyframes anim-daily-container {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
    }
}
.daily-records-title {
    color: var(--text-additional-color);
    font-weight: var(--font-regular);
    font-size: 16px;
}

.record {
    width: calc(100% - 30px);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--containers-color);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .2s ease;
    text-decoration: none;

    &:active {
        background-color: var(--containers-content-color);
    }
}
.record .icon {
    width: 23px;
    height: 23px;
    padding: 11px;
    border-radius: 50%;
}
.record .record-info {
    flex: 1;
    margin-left: 7px;
    display: inline;
    line-height: 1.5;
    flex-direction: column;
    font-size: 14px;
    font-weight: var(--font-light);
    color: var(--text-additional-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.record .record-info .category-name {
    color: var(--text-color);
    font-weight: var(--font-bold);
    font-size: 18px;
}
.record .record-value {
    font-size: 16px;
    font-weight: var(--font-bold);
    color: var(--income-color);
}
.record.expenses .record-value {
    color: var(--expenses-color);
}