.screen.new-record {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    opacity: 0;
    animation: anim-new-record ease-in .3s forwards;
    animation-delay: .3s;
}
@keyframes anim-new-record {
    to {
        opacity: 1;
    }
}
.new-record-title {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
}
.new-record-title .background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-record-title .background .circle {
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    opacity: 0.8;
    border-radius: 50%;
    filter: blur(50px);
    transition: background-color ease .5s;
    animation: anim-background-circle ease-out .5s forwards;
    animation-delay: .3s;

    &:first-child {
        transform: translateX(-50%);
    }
    &:last-child {
        transform: translateX(50%);
    }
}
.new-record-title .background.income .circle {
    background-color: var(--income-color);
}
.new-record-title .background.expenses .circle {
    background-color: var(--expenses-color);
}
@keyframes anim-background-circle {
    from {
        transform: translateY(-100px);
    }
}
.new-record-title .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    animation: anim-title-content ease-out .7s forwards;
    animation-delay: .3s;

    color: var(--text-light-color);
    font-weight: var(--font-semi-bold);
    font-size: 32px;
}
@keyframes anim-title-content {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
}
.new-record-title .content .icon {
    width: 74px;
    height: 74px;
}

.nrc-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@keyframes anim-nrc-box {
    from {
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
    }
}